<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.runtime.caching" type="System.Runtime.Caching.Configuration.CachingSectionGroup, System.Runtime.Caching">
			<section name="memoryCache" type="System.Runtime.Caching.Configuration.MemoryCacheSection, System.Runtime.Caching" />
		</sectionGroup>
	</configSections>
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="Race"
					 cacheMemoryLimitMegabytes="1024"
					 physicalMemoryLimitPercentage="20"
					 pollingInterval="00:00:00" />
				<add name="Class"
					cacheMemoryLimitMegabytes="1024"
					physicalMemoryLimitPercentage="20"
					pollingInterval="00:00:00" />
				<add name="Playable"
					cacheMemoryLimitMegabytes="1024"
					physicalMemoryLimitPercentage="20"
					pollingInterval="00:00:00" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
</configuration>
